/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-mar-2016, 16.17.47
    Author     : Admin
*/

/*
    Login.html
*/
body{
    background: #e2e2e0;
    font-family: "Open Sans", Arial, sans-serif;
}

#box{
    /* dimensione box */
    width: 960px;
    height: 900px;
    /* centra orizzontalmente quell'elemento all'interno del suo contenitore */
    margin: 0 auto;
    /*
    border: 1px solid #000;
    */
}

#header{
    width:920px;
    padding:20px;
    /* #21aabd */
    background:#e2e2e0;
    color: #000;
    text-align: center;
}

/*
    css <nav>
*/
#navigazione{
    /* dimensione dei lati */
    margin:0;
    padding:0;
    list-style: none;
    float:left;
    /* lunghezza e colore barra di navigazione */
    width: 960px;
    background-color: #000;
    /* dimensione del font */
    font-size:85%
}

/*
    css <li>
*/
#navigazione li {
    /* dimensione dei lati */
    margin:0;
    padding:0;
    /* elemeto a sinistra */
    float:left;
    display: block;
    
    /* dimensione in pixel dei bordi e relativo colore */
    border-right: 1px solid #223;
    position: relative;
}

/*
    padding da' la larghezza del bottone
    float: left -> elemento a sinistra
*/
#navigazione li a {
    float: left;
    /* 14 pixel altezza, 30 pixel lunghezza */
    padding:14px 30px;
    /* colore font <li> */
    color: #fff;
    text-transform: uppercase;
    text-decoration:none;
}

/*
    mouse sopra i <li>
*/
#navigazione li a:hover {
    background-color: #666;
}

/*
border-radius:2em;

is equivalent to:

border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em;
*/
.login {
  position: relative;
  /* distanza superiore */
  top: 10px;
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 270px;
  width: 300px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 50px auto ; 
}

/* Accedi */
.logformtitle{
    margin: 12px 0 12px 29px;
    text-align: left;
}

/* User/Password */
.logform{
    margin: 12px 0 12px 29px;
    font-weight: bold;
    font-size: 15px;
}

/* User/Password login */
#user, #password {
  /* dimensione e colore del bordo */
  border: 1px solid #a1a3a3;
  /* ondulazione angoli */
  border-radius: 4px;
  /* ombra angoli */
  box-shadow: 0 1px #fff; 
  /* 
    border-box:	(contenitore))
    The width and height properties (and min/max properties) 
    includes content, padding and border, but not the margin
  */
  box-sizing: border-box;
  /* colore scritta dentro la box */
  color: #000;
  /* altezza box */
  height: 30px; 
  /* lunghezza box  */
  width: 240px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 5px 0 15px 29px;
  /* sposta la scritta predefinita dentro il form di n pixel */
  padding-left: 15px;
  
}

#login_button{
  /* dimensione e colore del bordo */
  border: 1px solid #a1a3a3;
  /* ondulazione angoli */
  border-radius: 4px;
  /* ombra angoli */
  box-shadow: 0 1px #fff;  
   
  /* larghezza bottone */
  width: 240px;
  /* altezza bottone */
  height:30px;
  
  font-size:16px;
  /* colore scritta */
  color:#000;
  
  text-align:center;
 
  /* posizione scritta all'interno del bottone */
  padding-top:4px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 5px 0 15px 29px;
  /* onmouse over appare la manina*/
  cursor: pointer;
  
  /*background-color: #fff;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#00eeee), to(#0078a5));


}

#login_button:hover{
    /*background-color: #ABABAB;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00eeee));
}

/**
    Descrizione.html
**/

.title{ 
    margin: 25px auto;
    font-size: 35px;
}


#descrizione_content{
    float: right;
    width: 75%;
}

#descrizione_aside{
    width: 16%;
    font-size: 85%;
    /* distanza dall'alto */
    margin-top: 10px;
    float: left;
    padding: 0;
}

#descrizione_aside li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position: relative;
    display: block;
}

#descrizione_aside li a{
    color: #fff;
    background-color: #000;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e2e2e0;
    /* altezza celle */
    height: 40px;
    /* distanza dall'alto del testo */
    line-height: 37px;
    /* testo tutto maiuscolo */
    text-transform: uppercase;
    /* testo centrato */
    text-align: center;
    /* evito di sottolineare il testo */
    text-decoration: none;
}


#descrizione_aside li a:hover{
    background-color: #036;
}

/* lista scroll */

#descrizione_aside ul {
    /* celle allineate */
    display: inline-block;
    /* opacità sottomenù */
    opacity: 0;
    /* nascondo i sottomenù */
    visibility: hidden;
    
    position: absolute;
    top: 0px;
    /* top right bottom left (distanza submenu')*/
    margin: 0px 114px 0;
    /* mi serve per il focus dei sottomenù */
    z-index: 99;
    /* font ul */
    font-size: 13px;
    
}


#descrizione_aside li:hover ul{
        /* opacità sottomenù */
	opacity: 1;
        /* mostro i sottomenù e mantengo il focus */
        visibility: visible;
}

#descrizione_aside ul li{
	float: none;
	display: block;
	border: 0;
}

#descrizione_aside ul a{
	padding: 0px;
        /* lunghezza celle ul */
	width: 139px;
	display: block;
	text-transform: none;
}

#descrizione_aside ul a:hover{
	background-color: #0186ba;
	color:#fff
}


/**
    Cliente.html
**/
.cliente{
    position: relative;
  /* distanza superiore */
  top: 30px;
  /*background: #eceeee;*/
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 930px;
  width: 960px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 30px auto ; 
}

/* Prodotti */
.cliente_title{
    text-align: center;
}

.cliente_button{
    /* dimensione e colore del bordo */
  border: 1px solid #a1a3a3;
  /* ondulazione angoli */
  border-radius: 4px;
  /* ombra angoli */
  box-shadow: 0 1px #fff;  
   
  /* larghezza bottone */
  width: 150px;
  /* altezza bottone */
  height:30px;
  
  font-size:14px;
  /* colore scritta */
  color:#000;
  
  text-align:center;
 
  /* posizione scritta all'interno del bottone */
  padding-top:4px;
 
  /* onmouse over appare la manina*/
  cursor: pointer;
  
  /*background-color: #fff;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#00eeee), to(#0078a5));
}

.cliente_button:hover{
    /*background-color: #ABABAB;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00eeee));
}

/* struttura tabella */
table{
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}
th{
    height: 50px;
    width: 120px;
    /*padding: 10px;*/
    font-size: 15px;
}

/* alternanza di colore tra le righe */
tr:nth-child(even) {
    background-color: #f2f2f2;
}


td{
    padding: 5px;
    font-size: 14px;
    text-align: center;
}




/**
    Venditore.html
**/
.venditore{
    position: relative;
  /* distanza superiore */
  top: 10px;
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 510px;
  width: 345px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 50px auto ; 
}

.venditore_title{
    margin: 12px 0 12px 29px;
    text-align: left;
}

/* Nome oggetto, URL immagine */
.venditore_form{
    margin: 12px 0 12px 29px;
    font-weight: bold;
    font-size: 15px;
}

/* dimensione delle box */
#nome_oggetto, #url_immagine, #prezzo, #quantità{
  /* dimensione e colore del bordo */   
  border: 1px solid #a1a3a3;
  /* ondulazione angoli */
  border-radius: 4px;
  /* ombra angoli */
  box-shadow: 0 1px #fff; 
  /* 
    border-box:	(contenitore))
    The width and height properties (and min/max properties) 
    includes content, padding and border, but not the margin
  */
  box-sizing: border-box;
  /* colore scritta dentro la box */
  color: #000;
  /* altezza box password */
  height: 30px; 
  /* lunghezza box user/password */
  width: 290px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 5px 0 15px 29px;
  /* sposta la scritta predefinita dentro il form di n pixel */
  padding-left: 15px;
  
}

/* descrizione oggetto */
#descrizione{
  /* dimensione e colore del bordo */   
  border: 1px solid #a1a3a3;
  /* ondulazione angoli */
  border-radius: 4px;
  /* ombra angoli */
  box-shadow: 0 1px #fff; 
  /* 
    border-box:	(contenitore))
    The width and height properties (and min/max properties) 
    includes content, padding and border, but not the margin
  */
  box-sizing: border-box;
  /* colore scritta dentro la box */
  color: #000;
  /* altezza box */
  height: 80px;
  /* lunghezza box */
  width: 290px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 5px 0 10px 29px;
  /* sposta la scritta predefinita dentro il form di n pixel */
  padding-left: 15px;
  
}

/* bottoni venditore */
#venditore_insert, #venditore_delete{
  /* dimensione e colore del bordo */
  border: 1px solid #a1a3a3;
  /* ondulazione angoli */
  border-radius: 4px;
  /* ombra angoli */
  box-shadow: 0 1px #fff;  
   
  /* larghezza bottone */
  width: 128px;
  /* altezza bottone */
  height:30px;
  
  font-size:16px;
  /* colore scritta */
  color:#000;
  
  text-align:center;
 
  /* posizione scritta all'interno del bottone */
  padding-top:4px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 5px 0 15px 29px;
  /* onmouse over appare la manina*/
  cursor: pointer;
  
  /*background-color: #fff;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#00eeee), to(#0078a5));

}

#venditore_insert:hover, #venditore_delete:hover{
    /*background-color: #ABABAB;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00eeee));
}