/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-mar-2016, 16.17.47
    Author     : Admin
*/

/*
    Login.html
*/
body{
    background: #e2e2e0;
    font-family: "Open Sans", Arial, sans-serif;
    color: black;
}

/* formato contenitore principale */
#box{
    /* dimensione box */
    width: 80%;
    height: 100%;
    /* centra orizzontalmente quell'elemento all'interno del suo contenitore */
    margin-left : auto;
    margin-right : auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
    /*border: 1px solid #000;*/
    
    
}

/* formato box header */
#header{
    width:100%;
    
   /* padding:10px;*/
   /* margin-top: 10px;*/
    /* #21aabd */
    /*
    background:#e2e2e0;*/
    color: #000;
    text-align: center;
    
}

.title{ 
    padding: 30px;
    margin: 0 auto;
    font-size: 35px;
}

/* formato header */
h1,h2,h3{
    color: darkslategrey;
}

/* format paragrafi */
p{
    font-size: 13px;
}

/*
    css <nav>
*/
#navigazione{
    /* dimensione dei lati */
    margin: 0 auto;
    padding: 0;
    list-style: none;
    float:left;
    /* lunghezza e colore barra di navigazione */
    width: 100%;
    background-color: #000;
    /* dimensione del font */
    font-size:85%
    
}

/*
    css <li>
*/
#navigazione li {
    /* dimensione dei lati */
    margin:0;
    padding:0;
    /* elemeto a sinistra */
    float:left;
    display: block;
    
    /* dimensione in pixel dei bordi e relativo colore */
    border-right: 1px solid #223;
    position: relative;
}

/*
    padding da' la larghezza del bottone
*/
#navigazione li a{
    float: left;
    /* 14 pixel altezza, 30 pixel lunghezza */
    padding:12px 30px;
    /* colore font <li> */
    color: #fff;
    text-transform: uppercase;
    text-decoration:none;
}

/*
    mouse sopra i <li>
*/
#navigazione li a:hover{
    background-color: #0186ba;
}

#footer{
    /* dimensione dei lati */
    margin-left : auto;
    margin-right : auto;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0;
    list-style: none;
    float:left;
    /* lunghezza e colore barra di navigazione */
    width: 100%;
    background-color: #000;
    /* dimensione del font */
    font-size:85%
}

.social {
    width : 100%;
}

.social li{
    
}

.social ul {
    text-align: center;
    margin: 0;
    padding: 0;
}
.social ul li {
    display : inline-block;
}

/*
    css <li>
*/
#footer li {
    /* dimensione dei lati */
    margin:0;
    padding:0;

    /* elemeto a sinistra */
    float:left;
    display: block;
    
    /* dimensione in pixel dei bordi e relativo colore */
    position: relative;
}

/*
    padding da' la larghezza del bottone
*/
#footer li a{
    float: left;
    /* 14 pixel altezza, 30 pixel lunghezza */
    padding:12px 20px;
    /* colore font <li> */
    color: #fff;
    /*text-transform: uppercase;*/
    /*text-decoration:none;*/
}

/*
    mouse sopra i <li>
*/
#footer li a:hover{
    background-color: #0186ba;
}

/*
border-radius:2em;

is equivalent to:

border-top-left-radius:2em;
border-top-right-radius:2em;
border-bottom-right-radius:2em;
border-bottom-left-radius:2em;
*/
.login {
  position: relative;
  /* distanza superiore */
  top: 25px;
  /*     margin-top     margin-right     margin-bottom     margin-left   */
  margin: 50px auto ; 
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 270px;
  width: 300px;

}

/* Accedi */
.logformtitle{
    margin: 12px 0 12px 29px;
    text-align: left;
    font-size: 25px;
}

/* User/Password */
.logform{
    margin: 12px 0 12px 29px;
    font-weight: bold;
    font-size: 15px;
}

/* User/Password login */
#user, #password {
  /* dimensione e colore del bordo */
  border: 1px solid #a1a3a3;
  /* ondulazione angoli */
  border-radius: 4px;
  /* ombra angoli */
  box-shadow: 0 1px #fff;
  /* 
    border-box:	(contenitore))
    The width and height properties (and min/max properties) 
    includes content, padding and border, but not the margin
  */
  box-sizing: border-box;
  /* colore scritta dentro la box */
  color: #000;
  /* altezza box */
  height: 30px; 
  /* lunghezza box  */
  width: 240px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 5px 0 15px 29px;
  /* sposta la scritta predefinita dentro il form di n pixel */
  padding-left: 15px;
  
}

/* focus in box */
/* Login.html*/
#user:focus, #password:focus,
/* Venditore. html */
#nome_oggetto:focus, #url_immagine:focus, #descrizione:focus, #prezzo:focus, #quantity:focus{
    /* web transition per il focus */
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    
    /* colore on focus */
    box-shadow: 0 0 7px orange;
    /* rimuovo il contorno */
    outline: none;
    /* cambio il colore del bordo */
    border: 1px solid orange;
}

/* bottone login */
#login_button{
  /* dimensione e colore del bordo */
  border: 1px solid #a1a3a3;
  /* ondulazione angoli */
  border-radius: 4px;
  /* ombra angoli */
  box-shadow: 0 1px #fff;  
   
  /* larghezza bottone */
  width: 240px;
  /* altezza bottone */
  height:30px;
  
  font-size:15px;
  /* colore scritta */
  color:#000;
  
  text-align:center;
 
  /* posizione scritta all'interno del bottone */
  padding-top:2px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 5px 0 15px 29px;
  /* onmouse over appare la manina*/
  cursor: pointer;
  
  /*background-color: #fff;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#00eeee), to(#0078a5));


}

#login_button:hover{
    /*background-color: #ABABAB;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00eeee));
}


/**
    Descrizione.html
**/

/* descrizione componenti */
#descrizione_content{
    float: right;
    width: 78%;
    height: 480px;
    /* scroll interno alla pagina solo per l'asse y */
    overflow-y:auto;
    margin-top: 5px;
}

/* barra al lato */
#descrizione_aside{
    width: 16%;
    font-size: 85%;
    /* distanza dall'alto */
    margin-top: 10px;
    float: left;
    padding: 0;
}

/* format cella categoria */
#categorie{
    color: #fff;
    /* effetto sfumato webkit */
    background: -webkit-gradient(linear, left top, left bottom, from(#00eeee), to(#0078a5));
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    /* altezza celle */
    height: 40px;
    /* distanza dall'alto del testo */
    line-height: 37px;
    /* testo tutto maiuscolo */
    text-transform: uppercase;
    /* testo centrato */
    text-align: center;
    /* evito di sottolineare il testo */
    text-decoration: none;
}

/* format lista */
#descrizione_aside li{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position: relative;
    display: block;
}

/* format link */
#descrizione_aside li a{
    color: #fff;
    background-color: #000;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e2e2e0;
    /* altezza celle */
    height: 36px;
    /* distanza dall'alto del testo */
    line-height: 37px;
    /* testo tutto maiuscolo */
    text-transform: uppercase;
    /* testo centrato */
    text-align: center;
    /* evito di sottolineare il testo */
    text-decoration: none;
    font-size: 13px;
}

#descrizione_aside li a:hover{
    background-color: #0186ba;/*cac*/
}

/* lista sottomenù */
#descrizione_aside ul {
    /* celle allineate */
    display: inline-block;
    /* opacità sottomenù */
    opacity: 0;
    /* nascondo i sottomenù */
    visibility: hidden;
    
    position: absolute;
    top: 0px;
    /* top right bottom left (distanza submenu')*/
    margin: 0px 77% 0;
    /* mi serve per il focus dei sottomenù */
    z-index: 99;
    /* font ul */
    font-size: 13px;
    
}
/* mouse on lista -> ul */
#descrizione_aside li:hover ul{
        /* opacità sottomenù */
	opacity: 1;
        /* mostro i sottomenù e mantengo il focus */
        visibility: visible;
}

/* lista sottomenù */
#descrizione_aside ul li{
	float: none;
	display: block;
	border: 0;
}

/* lista sottomenù link */
#descrizione_aside ul a{
	padding: 0px;
        /* lunghezza celle ul */
	width: 139px;
	display: block;
	text-transform: none;
}

#descrizione_aside ul a:hover{
	background-color: #0186ba;
	color:#fff
}


/**
    Cliente.html
**/
 #cliente{
   position: relative;
  /* distanza superiore */
  top: 24px;
  /*background: #eceeee;*/
  border: 1px solid #42464b;
  border-radius: 6px;
  /*
  height: 930px;
  width: 880px;*/
  width: 95%;
  height: 80%;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 50px auto ; 
  font-size: 15px;
}

/* Prodotti */
.cliente_title{
    text-align: center;
}

.cliente_button{
    /* dimensione e colore del bordo */
  border: 1px solid #a1a3a3;
  /* ondulazione angoli */
  border-radius: 4px;
  /* ombra angoli */
  box-shadow: 0 1px #fff;  
   
  /* larghezza bottone */
  width: 135px;
  /* altezza bottone */
  height:30px;
  
  font-size:13px;
  /* colore scritta */
  color:#000;
  
  text-align:center;
 
  /* posizione scritta all'interno del bottone */
  padding-top:4px;
 
  /* onmouse over appare la manina*/
  cursor: pointer;
  
  /*background-color: #fff;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#00eeee), to(#0078a5));
}

.cliente_button:hover{
    /*background-color: #ABABAB;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00eeee));
}

#cliente_title_480table{
    text-align: center;
}

/* tabella per min width 480 */
.cliente_button_min{
    /* dimensione e colore del bordo */
    border: 1px solid #a1a3a3;
    /* ondulazione angoli */
    border-radius: 4px;
    /* ombra angoli */
    box-shadow: 0 1px #fff;  

    /* larghezza bottone */
    width: 125px;
    /* altezza bottone */
    height:25px;

    font-size:11px;
    /* colore scritta */
    color:#000;

    text-align:center;

    /* posizione scritta all'interno del bottone */
    padding-top:4px;

    /* onmouse over appare la manina*/
    cursor: pointer;

    /*background-color: #fff;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#00eeee), to(#0078a5));
    }

    .cliente_button_min:hover{
        /*background-color: #ABABAB;*/
      background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00eeee));
    }


/**
    Venditore.html
**/
.venditore{
    position: relative;
  /* distanza superiore */
  top: 27px;
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 510px;
  width: 345px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 50px auto ; 
}

.venditore_title{
    margin: 12px 0 12px 29px;
    text-align: left;
    font-size: 20px;
}

/* Nome oggetto, URL immagine */
.venditore_form{
    margin: 12px 0 12px 29px;
    font-weight: bold;
    font-size: 15px;
}

/* dimensione delle box */
#nome_oggetto, #url_immagine, #prezzo, #quantity{
  /* dimensione e colore del bordo */   
  border: 1px solid #a1a3a3;
  /* ondulazione angoli */
  border-radius: 4px;
  /* ombra angoli */
  box-shadow: 0 1px #fff; 
  /* 
    border-box:	(contenitore))
    The width and height properties (and min/max properties) 
    includes content, padding and border, but not the margin
  */
  box-sizing: border-box;
  /* colore scritta dentro la box */
  color: #000;
  /* altezza box password */
  height: 30px; 
  /* lunghezza box user/password */
  width: 290px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 5px 0 15px 29px;
  /* sposta la scritta predefinita dentro il form di n pixel */
  padding-left: 15px;
}

/* descrizione oggetto */
#descrizione{
  /* dimensione e colore del bordo */   
  border: 1px solid #a1a3a3;
  /* ondulazione angoli */
  border-radius: 4px;
  /* ombra angoli */
  box-shadow: 0 1px #fff; 
  /* 
    border-box:	(contenitore))
    The width and height properties (and min/max properties) 
    includes content, padding and border, but not the margin
  */
  box-sizing: border-box;
  /* colore scritta dentro la box */
  color: #000;
  /* altezza box */
  height: 80px;
  /* lunghezza box */
  width: 290px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 5px 0 10px 29px;
  /* sposta la scritta predefinita dentro il form di n pixel */
  padding-left: 15px;
  
}

/* bottoni venditore */
#venditore_insert, #venditore_delete{
  /* dimensione e colore del bordo */
  border: 1px solid #a1a3a3;
  /* ondulazione angoli */
  border-radius: 4px;
  /* ombra angoli */
  box-shadow: 0 1px #fff;  
   
  /* larghezza bottone */
  width: 128px;
  /* altezza bottone */
  height:30px;
  
  font-size:15px;
  /* colore scritta */
  color:#000;
  
  text-align:center;
 
  /* posizione scritta all'interno del bottone */
  padding-top:2px;
  /*
    margin-top
    margin-right
    margin-bottom
    margin-left
  */
  margin: 5px 0 15px 29px;
  /* onmouse over appare la manina*/
  cursor: pointer;
  
  /*background-color: #fff;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#00eeee), to(#0078a5));

}

#venditore_insert:hover, #venditore_delete:hover{
    /*background-color: #ABABAB;*/
  background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00eeee));
}


/**
    Risoluzione Max 1024px due/tre colonne
**/

@media only screen and (min-width:1024px) {
    #box{
        background-color: lightgreen;
    }
    
    /* struttura tabella */
    table{
        width: 100%;
        height:98%;
        background-color: white;
        border-collapse: collapse;
        margin: auto;
    }
    th{
        height: 30%;
        width: 100%;
        padding: 8px;

    }

    /* alternanza di colore tra le righe */
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        /*background-color: #f5fff5;*/
    }

    td{
        padding: 5px;
        font-size: 14px;
        text-align: center;
    }
    

    #on_off_480table, #cliente_title_480table{
        position:absolute;
        left:-9999px;
    }
    
        


}

/**
    Risoluzione Media 600-1024px una/due colonne
**/

@media only screen and (min-width:480px) and (max-width:1024px) {
    #box{
        background-color: lightblue;
        min-width: 600px;
    }
    
    #header{
        min-width: 600px;
    }
    
    h2,h3{
        font-size:15px;
    }

    .cliente{
        min-width: 600px;
    }
    
    
    #descrizione_aside{
        min-width: 120px;
    }
    
    #descrizione_aside ul{
         margin: 0px 70% 0;
    }
    
    
    #descrizione_content{
        min-width: 460px;
        font-size: 60%;
    }

    #navigazione{
        font-size:75%;
        min-width: 600px;
    }
    
    #footer{
        font-size:75%;
        min-width: 600px;
    }
    
    /* struttura tabella */
    table{
        width: 100%;
        height:98%;
        background-color: white;
        border-collapse: collapse;
        margin: auto;
    }
    th{
        height: 30%;
        width: 100%;
        padding: 8px;

    }

    /* alternanza di colore tra le righe */
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        /*background-color: #f5fff5;*/
    }

    td{
        padding: 5px;
        font-size: 14px;
        text-align: center;
    }
    
     #on_off_480table, #cliente_title_480table{
        position:absolute;
        left:-9999px;
    }
    
}

/**
    Risoluzione Media 480px una colonna
**/

@media only screen and (max-width:480px) {
    #box{
        background-color: orange;
        min-width: 380px;
    }
    
    #header{
        min-width: 380px;
    }
       
    h2,h3{
        font-size:13px;
    }
    
    #navigazione{
        font-size: 70%;
        min-width: 380px;
    }
    
    #footer{
        font-size: 70%;
        min-width: 380px;
    }
    
    /*
    #descrizione_aside, #categorie, #descrizione_aside li, #descrizione_aside li a,
    #descrizione_aside ul, #descrizione_aside ul li, #descrizione_aside ul a, .cliente
    {   /* tecnica off-left per screen reader
        position:absolute;
        left:-9999px;
    }*/
    
    /* barra al lato */
    #descrizione_aside{
        width: 40%;
        font-size: 85%;
        /* distanza dall'alto */
        margin-top: 10px;
        padding: 0;
        margin-left : auto;
        margin-right : auto;
    }

    /* format link */
    #descrizione_aside li a{
        /* altezza celle */
        height: 30px;
        /* distanza dall'alto del testo */
        line-height: 32px;
        font-size: 10px;
    }

    /* lista sottomenù */
    #descrizione_aside ul {
        margin: 0px 77% 0;
    }

    #descrizione_content{
        min-width: 100%;
        font-size: 60%;
    }
    
    #cliente{
        position:absolute;
        left:-9999px;
    }
    
    /* tabella per la dimensione <=480 pixel width */
    #cliente_480table{
       position: relative;
      /* distanza superiore */
      top: 24px;

      /*background: #eceeee;*/
      border: 1px solid #42464b;
      border-radius: 6px;
      /*
      height: 930px;
      width: 880px;*/
      width: 82%;
      height: 80%;
      /*
        margin-top
        margin-right
        margin-bottom
        margin-left
      */
      /*margin: 20px auto ;*/
      margin: 50px auto ;
      font-size: 11px;
    }
    
    table{
        width: 100%;
        height:98%;
        background-color: white;
        border-collapse: collapse;
        margin: auto;
        border: 1px solid gainsboro;
    }
    
    th{
        height: 160px;
        width: 300px;
        border: 1px solid gainsboro;
    }

    /* alternanza di colore tra le righe */
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    tr:hover {
        /*background-color: #f5fff5;*/
    }

    td{
        width: 100px;
        padding: 5px;
        text-align: center;
        border: 1px solid gainsboro;
    }
    
}